In [68]:
import pandas as pd
import numpy as np
from math import radians, cos, sin, asin, sqrt
import itertools

In [69]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 3956
    return c * r

# 1.0 Getting Lookup file together

In [9]:
sportsdata = pd.read_pickle('/home/michael/Documents/Projects/divvydataproject/data/sporteventdata.pkl')

In [10]:
sportsdata.head()

,attend,datetime,games,location,team,gpslocation
1,NaN,2013-10-31 19:00:00,2,unitedcenter,bulls,"41.8749965, -87.671163982"
4,NaN,2013-11-08 19:00:00,5,unitedcenter,bulls,"41.8749965, -87.671163982"
5,NaN,2013-11-11 19:00:00,6,unitedcenter,bulls,"41.8749965, -87.671163982"
7,NaN,2013-11-16 19:00:00,8,unitedcenter,bulls,"41.8749965, -87.671163982"
8,NaN,2013-11-18 19:00:00,9,unitedcenter,bulls,"41.8749965, -87.671163982"

In [32]:
sportsdatalookup = sportsdata[['location','gpslocation']].copy(deep = True)
sportsdatalookup.columns = ['id','gpslocation']
sportsdatalookup = sportsdatalookup.drop_duplicates()
sportsdatalookup['latitude'] = [float(str(x).split(',')[0]) for x in sportsdatalookup['gpslocation']]
sportsdatalookup['longitude'] = [float(str(x).split(',')[1]) for x in sportsdatalookup['gpslocation']]
sportsdatalookup = sportsdatalookup[['id','latitude','longitude']]

In [33]:
sportsdatalookup.head()

             id   latitude  longitude
1  unitedcenter  41.874997 -87.671164
6       wrigley  41.948437 -87.655334
0    uscellular  41.824663 -87.633664
1  soldierfield  41.857497 -87.616664

In [34]:
sportsdatalookup.dtypes

id            object
latitude     float64
longitude    float64
dtype: object

In [35]:
distlookup = pd.read_pickle('/home/michael/Documents/Projects/divvydataproject/data/distlookup.pkl')

In [36]:
distlookup.head()

  id   latitude  longitude
0  2  41.876393 -87.620328
1  3  41.867226 -87.615355
2  4  41.856268 -87.613348
3  5  41.874053 -87.627716
4  6  41.885041 -87.612794

In [37]:
locationdist = pd.concat([sportsdatalookup,distlookup])

In [39]:
locationdist = locationdist.reset_index(drop = True)

In [43]:
locationdist

                id   latitude  longitude
0     unitedcenter  41.874997 -87.671164
1          wrigley  41.948437 -87.655334
2       uscellular  41.824663 -87.633664
3     soldierfield  41.857497 -87.616664
4                2  41.876393 -87.620328
5                3  41.867226 -87.615355
6                4  41.856268 -87.613348
7                5  41.874053 -87.627716
8                6  41.885041 -87.612794
9                7  41.886349 -87.617517
10               9  41.828792 -87.680604
11              11  41.766638 -87.576450
12              12  41.766409 -87.565688
13              13  41.932418 -87.652705
14              14  41.858086 -87.651073
15              15  41.858166 -87.656495
16              16  41.910337 -87.670072
17              17  41.903119 -87.673935
18              18  41.883132 -87.637321
19              19  41.869417 -87.660996
20              20  41.910522 -87.653106
21              21  41.877726 -87.654787
22              22  41.869482 -87.655486
23              23  41.902924 -87.637715
24              24  41.891860 -87.620620
25              25  41.897660 -87.623510
26              26  41.890359 -87.617532
27              27  41.910210 -87.643500
28              28  41.914680 -87.643320
29              29  41.900680 -87.662600
...            ...        ...        ...
1136         p1130  41.913907 -87.717953
1137          p449  41.936873 -87.672101
1138          p248  41.685480 -87.536534
1139         p1066  41.847844 -87.711286
1140         p1094  41.757713 -87.599207
1141         p1141  41.983643 -87.728538
1142          p337  41.777198 -87.594584
1143         p1108  41.852906 -87.710211
1144         p1061  41.999062 -87.669411
1145          p433  41.927201 -87.702287
1146         p1011  41.776037 -87.751124
1147          p354  41.761597 -87.604291
1148         p1206  41.923687 -87.639378
1149          p393  41.922300 -87.651330
1150           p19  41.778713 -87.586342
1151         p1073  41.761670 -87.583617
1152         p1015  41.891685 -87.689832
1153          p399  41.907036 -87.688456
1154         p1103  41.901420 -87.714636
1155          p379  41.672289 -87.649891
1156          p406  41.903094 -87.685441
1157          p531  41.842551 -87.646462
1158          p448  41.818315 -87.626394
1159           p16  41.704641 -87.565635
1160          p274  41.983147 -87.707019
1161          p425  41.929808 -87.653653
1162         p1004  41.718413 -87.564570
1163          p277  41.798063 -87.593081
1164          p167  42.004004 -87.704652
1165         p1037  41.898851 -87.639625

[1166 rows x 3 columns]

In [77]:
ids = [x for x in locationdist['id']]

In [78]:
combinations = []
for id1 in locationdist['id']:
    for id2 in locationdist['id']:
        combinations.append([id1,id2])

In [79]:
len(combinations)

1359556

In [84]:
disttable = pd.DataFrame(combinations, columns = ['tid','fid'])
disttable = pd.merge(disttable, locationdist, how = 'left', left_on = 'tid', right_on ='id')
disttable = pd.merge(disttable, locationdist, how = 'left', left_on = 'fid', right_on ='id')
disttable.columns = ['tid','fid','idx','flat','flong','idy','tlat','tlong']
disttable = disttable[['tid','fid','flat','flong','tlat','tlong']]
disttable.tail()

           tid    fid       flat      flong       tlat      tlong
1359551  p1037   p425  41.898851 -87.639625  41.929808 -87.653653
1359552  p1037  p1004  41.898851 -87.639625  41.718413 -87.564570
1359553  p1037   p277  41.898851 -87.639625  41.798063 -87.593081
1359554  p1037   p167  41.898851 -87.639625  42.004004 -87.704652
1359555  p1037  p1037  41.898851 -87.639625  41.898851 -87.639625

In [85]:
disttable['distance'] = np.vectorize(haversine)(disttable['flat'], disttable['flong'], disttable['tlat'], disttable['tlong'])

In [86]:
disttable.to_pickle('/home/michael/Documents/Projects/divvydataproject/data/distancetable.pkl')

In [92]:
wrigley = disttable[disttable['tid'] == 'wrigley']
wrigley = wrigley[wrigley['fid'].str.slice(0,1) != 'p']
wrigley.sort_values('distance').head(6)

          tid      fid       flat      flong       tlat      tlong  distance
1167  wrigley  wrigley  41.948437 -87.655334  41.948437 -87.655334  0.000000
1453  wrigley      306  41.948437 -87.655334  41.958494 -87.654966  0.038115
1270  wrigley      114  41.948437 -87.655334  41.949399 -87.654529  0.055648
1381  wrigley      231  41.948437 -87.655334  41.961670 -87.654640  0.060776
1389  wrigley      240  41.948437 -87.655334  41.954245 -87.654406  0.066142
1470  wrigley      323  41.948437 -87.655334  41.969517 -87.654691  0.074280